@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --border: #E6E6E6;
  --grey: #888888;
}

body{
  font-family: 'Inter', sans-serif;
  margin: 0px;
}

input, select {
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid rgb(64 68 82 / 16%);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(64 68 82 / 8%) 0px 0px 5px 0px;
  height: 33px;
  padding: 0 10px;
  transition: background-color 0.24s ease 0s, box-shadow 0.24s ease 0s, border-color 0.24s ease 0s;
  font-family: 'Inter', sans-serif;
  outline: none;
}

input[type="button"] {
  background-color: #ffffff;
}

input:hover, select:hover {
  box-shadow: rgba(64, 68, 82, 0.05) 0px 3px 9px 0px, rgba(64, 68, 82, 0.05) 0px 0px 5px 0px;
}

input:focus, select:focus {
  box-shadow: 0 0 0 0 transparent, rgb(64 68 82 / 16%) 0 0 0 1px, 0 0 0 3px rgba(0, 0, 0, 0.36), 0 0 0 0 transparent;
  0 0 transparent;
  border-color: #ffffff;
}

label {
  cursor: pointer;
}

/*Projection and full screen styles*/
.full_screen {
  height: 100%;
  top: 0;
  overflow: scroll;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  padding: 60px;
  padding-bottom: 300px;
  color: #ffffff;
  background: #000000;
  z-index: 9999;
  position: absolute;
}

.full_screen::-webkit-scrollbar {
  display: none;
}

.displayNone{
  display: none;
}

.full_screen .text_part {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
}

.full_screen .verse_number {
  font-size: 30px;
  color: rgb(255 255 255 / 35%)!important;
}

.full_screen .office_titre {
  display: none;
}

#stop_projection {
  opacity: .5;
  cursor: pointer;
  text-align: right;
}

#stop_projection span {
  background-color: #fff;
  color: black;
  border-radius: 8px;
  font-size: 12px;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}

/*Main page styles*/
.office_choice input[type="radio"] {
  display: none!important;
}

.office_choice p {
  margin: 0;
  font-style: italic;
}

.office_choice p:nth-child(1) {
  text-transform: uppercase;
  font-style: normal;
}

.office_choice label {
  font-family: 'Source Serif Pro', Serif;
  font-size: 14px;
  opacity: .5;
  padding: 20px 10px 17px 10px;
  border-bottom: 3px solid #F5F5F5;
  transition: .3s opacity ease;
}

.office_choice input:checked + label {
  opacity: 1;
  border-bottom: 3px solid #000;
}

.office_choice label:hover {
  opacity: 1;
}

.main_content {
  display: flex;
  max-width: 950px;
  margin: auto;
}

.container_site {
  margin-top: 135px;
  padding-top: 55px;
  padding-bottom: 70px;
  padding-right: 60px;
  overflow-y: scroll;
  width: 70%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-right: 1px solid var(--border);
  height: 100%;
}

#introduction p:nth-child(1) {
  margin-top: 0;
}

.container_site::-webkit-scrollbar {
  display: none;
}

.container_menu_site {
  width: 30%;
  padding-left: 30px;
  padding-top: 55px;
  margin-top: 135px;
  top: 135px;
  position: sticky;
  height: 100%;

}

.office_titre h1 {
  margin: 0;
  font-size: 20px;
}
.office_titre h2 {
  margin-top: 5px;
  font-weight: 400;
  font-size: 13px;
  color: var(--grey);
}

.office_sommaire ul {
  margin-top: 45px;
  list-style: none;
  padding: 0;
}

@media (min-width: 767px) {

.office_sommaire a.anchor_selected {
  color: #ffffff;
}

.office_sommaire a.anchor_selected::after {
  width: 30px;
  height: 100%;
  position: absolute;
  left: -30px;
  content: '';
  background-color: var(--liturgical-color);
  top: 0;
}



.color_liturgy_white .office_sommaire a.anchor_selected::before{
  background-image: url("../img/polygon_white.svg");
}

.color_liturgy_green .office_sommaire a.anchor_selected::before{
  background-image: url("../img/polygon_green.svg");
}

.color_liturgy_red .office_sommaire a.anchor_selected::before{
  background-image: url("../img/polygon_red.svg");
}

.color_liturgy_purple .office_sommaire a.anchor_selected::before{
  background-image: url("../img/polygon_purple.svg");
}

.color_liturgy_pink.office_sommaire a.anchor_selected::before {
  background-image: url("../img/polygon_pink.svg");
}

.color_liturgy_default .office_sommaire a.anchor_selected::before {
  background-image: url("../img/polygon_default.svg");
}

}


.office_sommaire a.anchor_selected::before {
  content: '';
  height: 100%;
  width: 40px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  left: -70px;
  top: 0;
}

.office_sommaire a {
  font-family: 'Source Serif Pro', Serif;
  font-size: 16px;
  padding: 15px 0;
  display: block;
  color: var(--grey);
  text-decoration: none;
  position: relative;
}



.office_text {
  font-family: 'Source Serif Pro', Serif;
  /*font-size: 20px;*/
}


.text_part {
  scroll-margin-top: calc(155px + 30px);
}

.text_part h2 {
  font-family: 'Inter', sans-serif;
  margin-top: 60px;
}

.top_bar .right {
  display: flex;
  align-items: center;
  position: relative;
}

.top_bar .left {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
}

#plus {
  position: relative;
}

.dropdown {
  display: none;
  position: fixed;
  top: 64px;
  background-color: #ffffff;
  right: 0;
  width: 200px;
  box-shadow: 0 5px 16px 0px #0000000d;
  border-radius: 0px 0px 6px 6px;
  padding: 10px;
}

.dropdown.active {
  display: block;
}

.dropdown_element {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 400;
  border-radius: 6px;
}

.dropdown_element:hover {
  background-color: whitesmoke;
}

.dropdown_element p {
  margin: 4px 0px;
}

#plus svg {
  user-select: none;
}

.full_screen .liturgical_symbol {
  color: #ffffff;
}

.top_bar .option {
  margin-right: 20px;
}

#psaume_invitatoire_select {
  display: none;
}

.office_laudes #psaume_invitatoire_select {
  display: inline-block;
}

.top_bar .icon {
  display: flex;
  gap: 10px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  font-size: 13px;
  align-items: center;
  border-left: 1px solid var(--border);
  height: 64px;
  padding: 0 25px;
}

.top_bar .icon .name, .top_bar .icon svg {
  opacity: .5;
  transition: .3s opacity ease, .3s background-color ease;
}

.top_bar .icon:hover .name, .top_bar .icon:hover svg {
  opacity: 1;
}

.top_bar .icon#plus {
  padding: 0 10px;
}

.top_bar .icon:hover {
  opacity: 1;
}

.office_choice {
  gap: 40px;
  padding: 0 20px;
  background-color: #F5F5F5;
  border-bottom: 1px solid var(--border);
  position: fixed;
  top: 64px;
  width: 100%;
  z-index: 1;
}

.top_bar {
  height: 64px;
  border-bottom: 1px solid var(--border);
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 8px;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding-right: 0;
  z-index: 10;
}

.menuZoom {
  display: grid;
  grid-template-columns: 64% 18% 18%;
  grid-template-rows: auto;
}

.topMenu {
  margin: 0px 10px;
  opacity: 1;
}

/*Anchors styles*/
.anchor_selected{
  background-color: var(--liturgical-color);
}

/*Liturgical color changes*/
.color_liturgy_white{
  --liturgical-color: rgb(226, 154, 0);
}

.color_liturgy_green{
  --liturgical-color: rgb(0, 126, 48);
}

.color_liturgy_red{
  --liturgical-color: rgb(153, 42, 42);
}

.color_liturgy_purple{
  --liturgical-color: rgb(97, 44, 102);
}

.color_liturgy_pink{
  --liturgical-color: rgb(204, 53, 166);
}

.color_liturgy_default{
  --liturgical-color: rgb(0, 0, 0);
}

.verse_number{
  color: var(--liturgical-color);
  font-size: 60%;
}

.liturgical_symbol{
  color: var(--liturgical-color);
}

