.menu-mobile, .sous-menu-mobile, .main_content .container_site .office_titre {
    display: none;
}

aside {
    display: none;
}

@media (max-width: 900px) {

    aside {
        display: block;
    }

    #firstScroll {
        scroll-margin-top: 100px;
      }

    .text_part {
        scroll-margin-top: 120px;
        margin-top: 70px;
      }

      .text_part h2 {
        margin-top: 40px;
      }

    .container_site .office_titre {
        display: block!important;
        margin-bottom: 0px;
    }

    .office_titre h1 {
        font-size: 28px;
    }

    .menu-mobile {
        height: 50px;
        width: 100%;
        position: fixed;
        top: 0;
        background: var(--background-color);
        box-shadow: 0px 1px 0px var(--shadow-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        z-index: 10;
    }

    .top_bar {
        display: none;
    }

    .office_choice, .container_menu_site {
        display: none!important;
    }

    .container_site {
        width: 100%;
        padding: 15px;
        padding-top: 100px;
    }

    .sous-menu-mobile {
        position: fixed;
        top: 50px;
        display: block;
        height: 50px;
        background: var(--background-color);
        box-shadow: 0px 1px 0px var(--shadow-color);
        width: 100%;
        padding: 0 10px;
    }

    .office_sommaire {
        overflow-x: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .office_sommaire::-webkit-scrollbar {
        display: none;
    }

    .sous-menu-mobile ul {
        display: flex;
        width: 100%;
        margin: 0;
    }

    .menu-mobile .left {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .menu-mobile .options {
        display: flex;
    }

    .options select {
        max-width: 115px;
    }

    .menu-mobile .right svg {
        opacity: .5;
        filter: invert(var(--filter-value));
    }

    .menu-mobile .right {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .office_sommaire a {
        padding: 15px 10px 12px 10px;
        white-space: nowrap;
    }

    .color_liturgy_green .office_sommaire a.anchor_selected::before, .color_liturgy_green .office_sommaire a.anchor_selected::after {
        display: none;
    }

    .anchor_selected {
        background-color: var(--background-color);
    }

    .office_sommaire a {
        border-bottom: 4px solid transparent;
    }

    .office_sommaire a.anchor_selected {
        color: var(--text-color);
        border-color: var(--liturgical-color);
    }

    .office_sommaire a.anchor_selected::before {
        display: none;
        width: 0px;
    }



    .office_choice_mob input[type="radio"] {
        display: none!important;
      }

      .office_choice_mob p {
        margin: 0;
        font-style: italic;
      }

      .office_choice_mob p:nth-child(1) {
        text-transform: uppercase;
        font-style: normal;
      }

      .office_choice_mob label {
        font-family: 'Source Serif Pro', Serif;
        font-size: 16px;
        color: gray;
        margin: 5px;
        /*padding: 20px 10px 17px 10px;*/
        /*border-bottom: 3px solid #F5F5F5;*/
        transition: .3s color ease;
      }

      .office_choice_mob input[type="radio"]:checked+label {

        background-color: #c7c7c7;
        color: var(--text-color)
        /*border-bottom: 3px solid #000;*/
      }




    #background {
        position: fixed;
        z-index: 9998;
        background-color: #000000;
        height: 100%;
        width: 100%;
        top: 0;
        opacity: .7;
        display: none;
    }

    .popup {
        position: fixed;
        bottom: 0;
        z-index: 9999;
        background-color: var(--background-color);
        color: var(--text-color);
        width: 100%;
        padding: 40px;
        border-radius: 12px 12px 0px 0;
    }

    .popup h4 {
        margin-top: 0;
    }

    .popup input {
        width: 100%;
    }

    aside.popup {
        transition: .3s transform ease;
        transform: translateY(100%);
    }

    body.calendar-open aside#calendar-pop, body.setting-open aside#setting-pop, body.multiple-choice-open aside#multiple-choice-pop {
        transform: translateY(0%);
    }

    body.background-open #background{
        display: block;
    }

    #menu-pop {
        top: 0;
        right: 0;
        transform: translate(100%, 0);
        width: 80%;
        border-radius: 0px;
        padding: 0;
    }

    #menu-pop #logo {
        width: 70px;
        height: auto;
        margin: 20px;
    }

    #menu-pop span {
        display: block;
        color: var(--text-color);
        padding: 18px 20px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        /* margin: 8px 0; */
    }

    #menu-pop p {
        color: var(--text-color);
        display: block;
        padding: 5px 20px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        margin: 13px 0;
    }

    .topMenu {
        margin: 12px 10px;

    }

    .menuZoom {
        display: grid;
        grid-template-columns: 64% 18% 18%;
        grid-template-rows: auto;
    }

    #menu-pop ul {
        border-top: 1px solid var(--shadow-color);
        padding: 0;
        list-style: none;
        margin: 0;
    }

    #menu-pop ul li {
        border-bottom: 1px solid var(--shadow-color);
    }

    #menu-pop ul li a {
        padding: 5px 20px;
    }

    body.menu-open #menu-pop {
        transform: translate(0%, 0);
    }

    span.close {
        background-image: url('../img/close.svg');
        background-size: contain;
        height: 30px;
        width: 30px;
        content: '';
        cursor: pointer;
        display: block;
        opacity: .5;
        position: absolute;
        right: 20px;
        top: 20px;
        padding: 0px !important;
        filter: invert(var(--filter-value));
    }

}
